# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
/LifEasierSaves/
src/main/resources/docs/

# Generated test files
testNotes.txt
testCommandsSave.txt

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
